# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Trained models
models/

# Generated outputs
outputs/

# Dataset
data/

# VS Code settings
.vscode/

# Zip files
*.zip

# OS files
.DS_Store
Thumbs.db